In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker

# Part 1 - Prepare the dataset for time series analysis

# Load the Zillow Home Value Index dataframe
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQN3Ksa9szQuO4G1-msXWAp17KtVHQCBnuEieu_auu1wSiBf3-krHusIx5VBMkihxj-KZLBosDIGEyR/pub?output=csv'
df = pd.read_csv(url)
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,114794.0,114975.0,...,269323.0,274032.0,278464.0,284127.0,289739.0,294776.0,297727.0,298796.0,299124.0,298951.0

In [12]:
df.drop("StateName", axis=1, inplace=True)

In [13]:
# Filter top 4 largest cities into new df
top4 = df[df['SizeRank'].isin([0, 1, 2, 3])]
top4

,RegionID,SizeRank,RegionName,RegionType,State,Metro,CountyName,2000-01-31,2000-02-29,2000-03-31,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0,255517.0,257207.0,...,741586.0,745686.0,750578.0,756734.0,762321.0,768797.0,773944.0,777692.0,779960.0,781622.0
1,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0,234401.0,235513.0,...,924019.0,928991.0,937936.0,953874.0,973168.0,990391.0,992337.0,992630.0,978196.0,966595.0
2,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0,109079.0,108878.0,...,245783.0,248718.0,252080.0,256435.0,261101.0,265558.0,268901.0,271059.0,272400.0,272639.0
3,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0,166536.0,167368.0,...,302821.0,305104.0,306404.0,308303.0,309649.0,312487.0,314663.0,315910.0,315587.0,315429.0

In [ ]:
top4.isna()

In [14]:
id_vars = top4.columns[:7]
id_vars

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'State', 'Metro',
       'CountyName'],
      dtype='object')

In [20]:
long_top4 = pd.melt(top4, id_vars = id_vars, var_name = 'Date',
                   value_name = 'HomeValue')
long_top4

,RegionID,SizeRank,RegionName,RegionType,State,Metro,CountyName,Date,HomeValue
0,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [21]:
long_top4['Date'] = pd.to_datetime(long_top4['Date'])
long_top4

,RegionID,SizeRank,RegionName,RegionType,State,Metro,CountyName,Date,HomeValue
0,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-01-31,253690.0
1,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2000-01-31,234181.0
2,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2000-01-31,109068.0
3,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2000-01-31,166139.0
4,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2000-02-29,255517.0
...,...,...,...,...,...,...,...,...,...
1087,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-08-31,315587.0
1088,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2022-09-30,781622.0
1089,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,2022-09-30,966595.0
1090,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,2022-09-30,272639.0
1091,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,2022-09-30,315429.0

In [19]:
long_top4 = long_top4.set_index('Date')
long_top4

,RegionID,SizeRank,RegionName,RegionType,State,Metro,CountyName,Population
Date,,,,,,,,
2000-01-31,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,253690.0
2000-01-31,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,234181.0
2000-01-31,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,109068.0
2000-01-31,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,166139.0
2000-02-29,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,255517.0
...,...,...,...,...,...,...,...,...
2022-08-31,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315587.0
2022-09-30,6181,0,New York,city,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,781622.0
2022-09-30,12447,1,Los Angeles,city,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,966595.0
2022-09-30,39051,2,Houston,city,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,272639.0
2022-09-30,17426,3,Chicago,city,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,315429.0

In [ ]:
resampled_t4 = long_top4.groupby('RegionName').resample('M').mean()

In [4]:

# Melt the data to long-form and convert dates to datetime datatype
df_melted = df_top4.melt(id_vars=['RegionName', 'RegionID', 'SizeRank', 'RegionType', 'StateName'],
                         var_name='Date', value_name='HomeValue')
df_melted['Date'] = pd.to_datetime(df_melted['Date'], format='%Y-%m')

# Set the datetime column as the index
df_melted.set_index('Date', inplace=True)

# Resample the dataframe as monthly frequency, grouped by City
df_resampled = df_melted.groupby('RegionName').resample('M').mean()

# Part 2 - Plot home values for all 4 cities

# Unstack the dataframe to separate cities as columns
df_unstacked = df_resampled.unstack(level=0)

# Plot the home values for all 4 cities
ax = df_unstacked.plot(figsize=(12, 6))

# Add title and axis labels
plt.title('Home Values for 4 Largest Cities')
plt.xlabel('Date')
plt.ylabel('Home Value')

# Reformat y-axis ticks to use thousands of dollars with a "K" at the end
ax.yaxis.set_major_formatter(mticker.FuncFormatter(lambda x, pos: f'{int(x/1000)}K'))

# Answer the questions using pandas

# 1) Which City had the highest Typical Home Value at the end of 2008? Which had the least?
end_2008 = df_resampled.loc['2008-12-31']
city_highest = end_2008.idxmax()[0]
city_lowest = end_2008.idxmin()[0]
print(f"Highest Typical Home Value at the end of 2008: {city_highest}")
print(f"Lowest Typical Home Value at the end of 2008: {city_lowest}")

# 2) How much did the home values change from November 2008 to December 2008 (in dollars)?
nov_2008 = df_resampled.loc['2008-11-30']
dec_2008 = df_resampled.loc['2008-12-31']
change_nov_dec_2008 = dec_2008 - nov_2008
print(f"Home Values change from November 2008 to December 2008: {change_nov_dec_2008}")

# Show the plot
plt.tight_layout()
plt.show()

NameError: name 'df_top4' is not defined